@{
    ViewData["Title"] = "Home Page";
}
<h2>GeekDinner Sample</h2>
<a href="/dinners">Dinners</a>
<h3>Database Setup</h3>
See http://ef.readthedocs.org/en/latest/platforms/aspnetcore/new-db.html

<ol>
    <li>Open a developer command prompt</li>
    <li>Navigate to the GeekDinner project directory</li>
    <li>Run <code>dnvm use 1.0.0-rc1-update1</code></li>
    <li>Run <code>dnx ef database update</code></li>
    <li>Navigate to <a href="/dinners">Dinners</a> and click the populate database link</li>
</ol>